<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
        <script src="~/Scripts/angular.js">
 

         // Here Jquery is rendered in the master page so it comes first and replaces Jqlite that ships with Angular.
        </script>        
</head>
<body>  
   
</body>
</html>
